

 
#gamedetais{
text-align: center;
}

#imagesize{
    width: 400px;
    height: 500px;
}

 


.infoText{
    text-align: center;

}
.infoPrice{
    text-align: center;
    margin-bottom: 60px;
    font-size: 25px;

}
.buttoncart{
    font-size: 25px;
}