

 
.cartImage{
  
   display: block; 
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 350px;
  height: 400px;
    

  
}
.cartPrice{
   text-align: center;
   font-size: 25px;
   margin-bottom: 90px;
}

/* .cartTitle{
    text-align: center;
    font-size: 50px;
}  */



