.gameshomepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 70px;
    
}

 .eachgame{
    width: 300px;
    height: 400px;
    margin-top: 150px;
    
 }
    
   
    

.dispalytitle {
    text-align: center;
    
}