#Final{
    position: absolute;
   color: red;
   /* margin-left: 550px; */
   margin-left: 500px;
   margin-top: 100px;
   font-size: 40px;
}

#boxtext{
    font-size: 25px;
    
}
#boxTitle{
    font-size: 25px;
}
#boxPrice{
    font-size: 25px;
}
#boxImage{
    font-size: 25px;


}

.buttonForm{
position: relative;
margin-left: 200px;
margin-top: 30px;
font-size: 30px;
}

.inputDescription{
    margin-bottom: 15px;
}
.inputTitle{
    margin-bottom: 15px;
}
.inputPrice{
    margin-bottom: 15px;
}
.inputImage{
    margin-bottom: 15px;
}

 .formbox {
    background-color: yellow;
    width: 550px;
    height: 520px;
    position: relative;
    margin: 0 auto;
} 
/* .exampleText {
    writing-mode: sideways-rl;
    position: absolute;
    inset: 20px 40px 30px 10px; 
     
    background-color: #c8c800;
   
  } */
  