#Footer{
  
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(7, 36, 73);
  color: white;
  text-align: center; 
  padding: 10px;
  font-size: 15px;
  

}
#Footer:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.linktag{
  color: white;
  text-decoration: none;
  
}

.aboutMe{
  text-align: center;
}
.mission{
  margin-top: 300px;
}
.bluediv{
  background-color: rgb(25, 111, 209);
}