#Footer{
  
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(7, 36, 73);
  color: white;
  text-align: center; 
  padding: 10px;
  font-size: 15px;
  

}
#Footer:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.linktag{
  color: white;
  text-decoration: none;
  
}

.aboutMe{
  text-align: center; 
  
}
.mission{
  margin-top: 70px;
  margin-left: 300px;
  margin-right: 300px;
  font-size: 20px;
  font-family: monospace;
 
}
.bluediv{
  background-color: rgb(37, 83, 114);
  padding-top: 50px;
  padding-bottom: 50px;
  
}
.storename{
  font-size: 60px;
  font-family: Courier, monospace;
  color: white;
}
.ceo{
  color: white;
}