 .mainnav{
    
   position:static;
    width: 100%;
    height: 80px;   
    background-color: rgb(7, 36, 73);
    border: 2px solid #0e110e;
    
    
   

   
 }

 

.homep{
   text-align: right;
   margin-top: 40px;
   font-size: 30px;
   margin-right: 10px;
   
}

    .homelink{
      color: white;
      text-decoration: none;
      margin-left: 10px;
      margin-right: 10px; 
    }

   
       

    .cartlink{
       color: white;
       text-decoration: none;
       margin-left: 15px; 
    }
    .sellink{
      color: white;
      text-decoration: none;
      margin-left: 15px; 
      
    }
 